@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-size: x-large;
    font-family: 'Rubik', sans-serif;
    background-color: gainsboro;
    margin: 0;
}

#container {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    background-color: whitesmoke;
}

#calculator {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 400px;
}

#output {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: gray;
}

#arguments {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    border-bottom: 2px solid royalblue;
}

#result {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 20px;
}

#input{
    flex-grow: 3;
    display: flex;
    background-color: black;
}

#numbers {
    flex-grow: 4;
    display: flex;
    flex-direction: column;
}

.numbers-row {
    display: flex;
    flex-grow: 1;
}

.numbers-row-number {
    flex-grow: 1;
    background-color: black;
    color: whitesmoke;
    border: none;
}

#operators {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.operator-button {
    flex-grow: 1;
    width: 100%;
    background-color: black;
    color: whitesmoke;
    border: none;
}
